.image {
	float:left; 
	margin-top: 10px;
	margin-left: 20px;
	border-style: solid;
	border-color: black;
	border-width: 3px;
	padding: 10px;
}
.form {
	float:left;
	margin-left: 20px;
	margin-top: 10px;
	border-style: solid;
	border-color: black;
	border-width: 3px;
	padding-left: 5px;
	padding-right: 8px;
}
.param{
	font-family: sans, arial, sans-serif;
	font-size: 24px;
	width: 200px;
	margin-top: 4px;
	margin-bottom:4px;
	font-weight:bold;
}
.paramSmall{
	font-family: sans, arial, sans-serif;
	font-size: 22px;
	width: 200px;
	margin-top: 4px;
	margin-bottom:4px;
	font-weight:bold;
}
.paramValue {
	font-family: sans, arial, sans-serif;
	font-size: 24px;
	width: 125px;
	color: black;
	background-color: #C0C0C0;
	border-style: solid;
	border-color: black;
	border-width: 2px;
	text-align:right;
	margin-top: 4px;
	margin-bottom:4px;
}
.instructions {
	font-family: sans, arial, sans-serif;
	font-size: 22px;
	clear:both;
	margin-left: 5px;
	margin-top: 4px;
	width: 950px;
}
.footnote {
	font-family: sans, arial, sans-serif;
	font-size: 20px;
	clear:both;
	margin-left: 25px;
	width: 920px;
}
.sectionHeader {
	clear:both;
	font-family: sans, arial, sans-serif;
	font-size: 24px;
	text-decoration: underline;
	font-weight:bold;
	margin-left: 25px;
	padding-top: 20px;
}
.link {
	color:red;
	text-decoration:none;
}
.link:hover {
	text-decoration:underline;
}
.contact {
	clear:both;
	font-family: sans, arial, sans-serif;
	font-size: 20px;
	color:black;
	font-style:italic;
	font-weight:bold;
	margin-left: 25px;
	padding-top: 20px;
}
.contact:hover {
	color:red;;
}
.submitButton {
	float: right;
	clear: right;
	font-family: sans, arial, sans-serif;
	background-color: #C0C0C0;
	color:black;
	font-size:32px;
	font-weight:bold;
	border-style: solid;
	border-color: black;
	border-width: 3px;
	margin-left:5px;
	margin-top:8px;
	margin-bottom:8px;
}
.submitButton:hover {
	background-color: black;
	border-color: #C0C0C0;
	color:red;
}
.submitButton:active {
	background-color: red;
	border-color: #C0C0C0;
	color:black;
}
#file_browse {
	margin-left:-147px;
	margin-top:2px;
	opacity:0.0;
	filter:alpha(opacity=0);
}
#file_browse_wrapper {
	float: right;
	clear: right;
	width: 77px;
	height: 28px;
	background-image: url('/images/Browse2.png');
	background-repeat:no-repeat;
	background-position:0 0;
	border:none;
	margin-top: 8px;
	margin-bottom:8px;
	overflow:hidden;
}
#file_browse_wrapper:hover {
background: url('/images/Browse2_Hover.png') 0 0 no-repeat;
}
#file_browse_wrapper:active {
background: url('/images/Browse2_Click.png') 0 0 no-repeat;
}
#excelFile{
	margin-left: 5px;
	font-family: sans, arial, sans-serif;
	color: black;
	font-size: 24px;
	margin-top: 8px;
	font-weight:bold;
}
#excelFile2{
	margin-left: 5px;
	font-family: sans, arial, sans-serif;
	color: black;
	font-size: 24px;
	font-weight:bold;
}
.loopFilterTable {
	width: 450px;
	margin-left: 65px;
	background-color:black;
}
.loopFilterTableHeader {
	font-family: sans, arial, sans-serif;
	color: black;
	background-color: #C0C0C0;
	font-size: 28px;
	font-weight: bold;
	text-align:center;
}
.loopFilterTableParameter {
	font-family: sans, arial, sans-serif;
	color: black;
	font-size: 24px;
	font-weight: bold;
	background-color: white;
	text-align:center;
	position: relative;
}
.loopFilterTableValue {
	font-family: sans, arial, sans-serif;
	color: black;
	font-size: 24px;
	font-weight: bold;
	background-color: white;
	text-align:center;
}
.largeHeader {
	clear:both;
	font-family: sans, arial, sans-serif;
	color: black;
	font-size: 28px;
	font-weight: bold;
	text-decoration: underline;
	margin-left:20px;
}
.lockTimesTable {
	width: 1000px;
	margin: 100px;
	background-color:black;
}
.gChart{
	width: 600px;
	height: 425px;
	float: left;
}
.gChart2{
	width: 1200px;
	height: 850px;
	float: left;
}
.bigBorder {
	width: 100%;
	border-style: solid;
	border-color: black;
	border-width: 2px;
}
.error {
	font-family: sans, arial, sans-serif;
	font-size: 20px;
	clear:both;
	margin-left: 25px;
	color: red;
}
.intNoiseForm{
	margin-left: 65px;
	margin-top: 10px;
}
.intNoiseTable {
	clear:both;
	width: 500px;
	margin-left: 85px;
	background-color:black;
}
.intNoiseTableParameter {
	font-family: sans, arial, sans-serif;
	color: black;
	font-size: 24px;
	font-weight: bold;
	background-color: white;
	text-align:center;
	position: relative;
	width: 300px;
}
.intNoiseTableValue {
	font-family: sans, arial, sans-serif;
	color: black;
	font-size: 24px;
	font-weight: bold;
	background-color: white;
	text-align:center;
	width:250px;
}
.intNoiseParam{
	font-family: sans, arial, sans-serif;
	font-size: 24px;
	width: 300px;
	margin-top: 4px;
	margin-bottom:4px;
	font-weight:bold;
	text-align:center;
}