<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
	</head>
	<body>
		<div class="loopFilterTableContainer">
		<div class="loopFilterTableMainHeaderContainer"><div class="loopFilterTableMainHeader">Loop Filter Components </div></div>
		<img class="loopFilterDiag" src="/images/loopFilterDiag_174px.png" >
		<table class = "loopFilterTable">
			<thead>
				<tr>
					<th colspan="2" class="loopFilterTableHeader">
						Loop Filter Values
					</th>
				</tr>
			</thead>
			<tr>
				<td a class="loopFilterTableParameter">
					C1
				</td>
				<td class="loopFilterTableValue">
					{{ C1 }} nF
				</td>
			</tr>
			<tr>
				<td a class="loopFilterTableParameter" >
					C2
				</td>
				<td class="loopFilterTableValue">
					{{ C2 }} nF
				</td>
			</tr>
			<tr>
				<td a class="loopFilterTableParameter" >
					C3
				</td>
				<td class="loopFilterTableValue">
					{{ C3 }} nF
				</td>
			</tr>
			<tr>
				<td a class="loopFilterTableParameter" >
					R2
				</td>
				<td class="loopFilterTableValue">
					{{ R2 }} k&Omega;
				</td>
			</tr>
			<tr>
				<td a class="loopFilterTableParameter" >
					R3
				</td>
				<td class="loopFilterTableValue">
					{{ R3 }} k&Omega;
				</td>
			</tr>
			
		</table>
		</div>
		<br>
	</body>
</html>