<html>
  <head>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
	  
      function drawChart() {
		
        var data = google.visualization.arrayToDataTable([
			['Time', 'Frequency'],
			[{{ t[0] }},  {{ fT[0] }}]
		]);
		var formatterYtoolTips = new google.visualization.NumberFormat({
			pattern:"0.000E0 Hz"
		});
		var formatterXtoolTips = new google.visualization.NumberFormat({
			pattern:"0.000E0 seconds"
		});
		
		{% for i in indexT %}
		data.addRows([[{{ t[i] }}, {{ fT[i] }}]]);
		{% endfor %}
		formatterYtoolTips.format(data, 1);//format y Axis tooltips
		formatterXtoolTips.format(data, 0);//format x Axis tooltips
        var options = {
		  chartArea:{left:100,top:100,width:"85%",height:"80%"},
          curveType: "function",
		  title: '锁相环频率阶跃响应',
		  lineWidth: 4,
		  legend:{position:'none'},
		  colors:['red'],
		  titleTextStyle:{fontName: 'sans-serif', fontSize: 20},
		  backgroundColor:{fill: 'white'},
		  hAxis:{title:'时间 (s)', format: "0.000E0", titleTextStyle: {fontName: 'sans-serif', fontSize: 16}, gridlines: {count: 4, color: 'black'}, minValue: 0.1, minorGridlines: {count: 1}},
		  vAxis:{title:'频率 (Hz)', format: "0.000E0", titleTextStyle: {fontName: 'sans-serif', fontSize: 16}}
        };
        var chart = new google.visualization.LineChart(document.getElementById('chart_div6'));
        chart.draw(data, options);
      }
    </script>
  </head>
  <body>
	<div class="timeResponseChartContainer">
		<div class="timeResponseChartHeaderContainer"><div class="timeResponseChartHeader">锁相环时间响应 </div></div>
		<div id="chart_div6" class="timeResponseChart"></div>
		<table class = "lockTimesTable">
			<thead>
				<tr>
					<th colspan="2" class="lockTimesTableHeader">
						锁相环的锁定时间
					</th>
				</tr>
			</thead>
			<tr>
				<td a class="lockTimesTableParameter">
					锁相环锁定在0.001% ({{ lT_0p001PcntActual  }} Hz)内目的频率，在
				</td>
				<td class="lockTimesTableValue">
					{{ lT_0p001Pcnt }} s内
				</td>
			</tr>
			<tr>
				<td a class="lockTimesTableParameter" >
					锁相环锁定在0.0001% ({{ lT_0p0001PcntActual  }} Hz)内目的频率，在
				</td>
				<td class="lockTimesTableValue">
					{{ lT_0p0001Pcnt }} s内
				</td>
			</tr>
			<tr>
				<td a class="lockTimesTableParameter" >
					锁相环锁定在0.00001% ({{ lT_0p00001PcntActual  }} Hz)内目的频率，在
				</td>
				<td class="lockTimesTableValue">
					{{ lT_0p00001Pcnt }} s内
				</td>
			</tr>
			<tr>
				<td a class="lockTimesTableParameter" >
					锁相环锁定在0.000001% ({{ lT_0p000001PcntActual  }} Hz)内目的频率，在
				</td>
				<td class="lockTimesTableValue">
					{{ lT_0p000001Pcnt }} s内
				</td>
			</tr>
		</table>
		
	</div>
  </body>
</html>

